{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static '/projects/style.css' %}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link rel="icon" href="{% static '/projects/images/favicon-font.png' %}" sizes="16x16">
        <title>PYNEER</title>
    </head>

    <body>
        <div class="header">
            <div class="l-wrapper">
                <div class="header-logo detail"><a href="{% url 'projects:index' %}"><img src="{% static '/projects/images/logo.svg' %}"></a>
            </div>

        </div>

        <div class="page-container">
          {% block content %}
          {% endblock %}
        </div>
    </body>
</html>